.button {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  color: var(--text-color-secondary);
  font-size: var(--text-sm);
  padding: var(--space-md);
  transition: 250ms ease-in-out;
}

.button[disabled] {
  cursor: not-allowed;
  color: var(--input-text-disabled);
}

.button:not([disabled]):hover {
  background-color: rgba(255, 255, 255, 0.15);
}

.button > svg {
  display: inline-block;
  margin-left: var(--space-sm);
}
