.pre {
  display: inline-block;
  padding: 0;
  margin: 0;
}

.codeTitle {
  border-bottom: 1px solid var(--border);
  display: flex;
  margin-bottom: var(--space-lg);
  margin-top: var(--space-3xl);
  padding-bottom: var(--space-lg);
  font-size: var(--text-xl);
}

.codeTitle code {
  color: var(--text-color);
}

.codeTitle a {
  align-items: center;
  border-bottom: 1px solid transparent;
  color: var(--purple-next);
  display: inline-flex;
  font-size: var(--text-md);
  font-weight: var(--medium);
  margin-left: auto;
  text-decoration: none;
}

.codeTitle svg {
  margin-right: var(--space-sm);
}
