.main {
  max-width: 1240px;
  margin: 0 auto;
  padding: var(--size-gap);
  font-family: var(--font-body);
  display: flex;
  flex-direction: column;
  gap: var(--size-gap);
}

.main * {
  box-sizing: border-box;
}

.input {
  appearance: none;
  font-size: var(--text-md);
  font-weight: var(--medium);
  padding-left: var(--space-lg);
  padding-right: var(--space-lg);
  height: var(--size-input);
  background: var(--input-background);
  border-radius: var(--radius-md);
  border: 0;
  width: 100%;
  display: flex;
  align-items: center;
}

.description {
  font-size: var(--text-sm);
  color: var(--text-color-secondary);
  border-top: 1px solid #eee;
  margin-top: var(--space-md);
  padding-top: var(--space-md);
  line-height: var(--default);
}

.description a {
  color: var(--primary);
}

.button {
  appearance: none;
  border: 0;
  background: var(--primary);
  color: var(--white);
  height: var(--size-input);
  padding-left: var(--space-md);
  padding-right: var(--space-md);
  font-weight: var(--medium);
  font-size: var(--text-md);
  border-radius: var(--radius-md);
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.url {
  position: relative;
}

.urlInput {
  display: flex;
  width: 100%;
}

.stuff {
  display: flex;
}

.copy {
  position: absolute;
  right: var(--space-md);
  top: 50%;
  transform: translateY(-50%);
}

.image {
  max-width: 100%;
  box-shadow: var(--shadow);
  display: block;
}

.pointer {
  cursor: pointer;
  display: flex;
  gap: var(--space-sm);
}

.resultWrapper {
  display: grid;
  gap: var(--space-2xl);
  grid-auto-rows: max-content;
}

.uiWrapper {
  display: grid;
  gap: var(--space-2xl);
  grid-auto-rows: max-content;
}

.ogCode {
  max-width: 100%;
  min-width: 0;
}

.overflow {
  overflow-x: auto;
}

.format {
  border: 0;
  padding: 0;
}

.format legend,
.text-format label {
  font-weight: var(--semibold);
  margin-bottom: var(--space-md);
}

.heading {
  font-size: var(--text-md);
  font-weight: var(--semibold);
}

@media (min-width: 1024px) {
  .main {
    flex-direction: row;
  }

  .uiWrapper {
    width: 560px;
  }
}
