.header {
  font-family: var(--font-body);
  margin: 0 auto;
  max-width: 1240px;
  padding: var(--space-2xl) var(--size-gap);
}

.link {
  align-items: center;
  color: #000;
  display: inline-flex;
  font-size: var(--text-lg);
  text-decoration: none;
}

.logo {
  float: left;
  margin-right: var(--space-md);
}
