html,
body {
  margin: 0;
}

body * {
  box-sizing: border-box;
}

tt,
code,
pre,
tt,
samp {
  font-family: var(--font-monospace);
}

tt,
code,
kbd {
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  border-radius: var(--radius-sm);
  padding-left: var(--space-sm);
  padding-right: var(--space-sm);
  color: var(--black-fade-60);
  background-color: #fff2a8;
  font-size: 94%;
}

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
